.stock-price {
  padding: 3px;
  font-family: arial, sans-serif;
  font-size: 12px;
  text-align: right;
}

.stock-name {
  font-size: 0.8em;
  font-weight: 200;
  font-family: arial, sans-serif;
  width: 100px;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}

.variation-up {
  background: rgba(0, 255, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
  font-family: arial, sans-serif;
  font-size: 12px;
}

.variation-down {
  background: rgba(255, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
  font-family: arial, sans-serif;
  font-size: 12px;
}

.stock-list-tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
